<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/commonmark/0.27.0/commonmark.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ns-autogrow/1.1.6/jquery.ns-autogrow.min.js"></script>
    <title>{% block title %}Beak{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% set navigation_bar = [
        ('/posts/create', 'create', 'New Post'),
        ('/posts/manage', 'manage', 'Manage Posts')
    ] %}
    {% set active_page = active_page|default('create') %}
    <nav>
      <ul>
      {% for href, id, caption in navigation_bar %}
        <li {% if id == active_page %}class="active"{% endif %}>
          <a href="{{ href|e }}">{{ caption|e }}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
